<h2>Push a notification</h2>
<button type="button" (click)="onSubmit()">
  Send to my notifications feed
</button>

<h2>Feed data</h2>

<h3>Realtime updates</h3>
<ng-container *ngIf="realtimeData$ | async as realtimeData">
  <div *ngFor="let item of realtimeData" class="feed-item">
    <pre>{{ item | json }}</pre>
  </div>
  <ng-container *ngIf="realtimeData.length === 0">
    no realtime updates yet
  </ng-container>
</ng-container>

<h3>Initial feed data</h3>
<ng-container *ngIf="initialFeedData$ | async as initialFeedData">
  <div
    *ngFor="let item of initialFeedData"
    class="feed-item"
    [class.removed]="removedGroups.has(item.id)"
  >
    <pre>{{ item | json }}</pre>
    <button (click)="markSeen(item.id)" [disabled]="item.is_seen">
      Mark Seen
    </button>
    <button (click)="markRead(item.id)" [disabled]="item.is_read">
      Mark Read
    </button>
    <button (click)="remove(item)" [disabled]="removedGroups.has(item.id)">
      Remove
    </button>
  </div>

  <ng-container *ngIf="initialFeedData.length === 0">
    your feed is empty
  </ng-container>
</ng-container>
